@media screen and (min-width: 375px) {
  body {
    min-width: 375px;
    width: 100%;
  }
}

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1440px) {
  body {
    max-width: 1440px;
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 4% auto;
  width: 375px;
}

.qr-image {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

/* text css */

h2,
.para {
  text-align: center;
  font-family: Outfit;
}

.para {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding: 10px 10px 20px 10px;
  margin-left: 5%;
  margin-right: 5%;
  letter-spacing: 0.9px;
  align-items: center;
}

h2 {
  font-weight: 700;
  padding: 0.5em;
  color: hsl(218, 44%, 22%);
}

.attribution {
  text-align: center;
}
